@import "tailwindcss";
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #d4f3ff;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #28b9ed;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #1a9bc8;
}